gunicorn
flask
flask_cors
os
numpy
tensorflow.keras.models 
sklearn.preprocessing
joblib
pandas 
librosa
glob
speech_recognition
sklearn.model_selection
sklearn.preprocessing
sklearn.metrics
tensorflow.keras.models
tensorflow.keras.layers
tensorflow.keras.utils
